body {
background-color: black;
}

.asciititle, .second {
 margin: auto;
}
.asciititle {
position: relative;
width: fit-content;
text-align: center;
display: block;
margin-top: 20%;

animation:bounce infinite 2s ease-in-out }
@keyframes bounce {
    50% { transform: translateY(10%) }
}
@media screen and (min-width: 351px) {
.asciititle span p {
color: white;
font-family: 'Courier New', monospace;
font-weight: bold;
line-height: 20pt; 
font-size: 20pt; 
display: inline-block;
}
}
@media screen and (max-width: 350px) {
    .asciititle span p {
  color: white;
font-family: 'Courier New', monospace;
font-weight: bold;
line-height: 14pt; 
font-size: 14pt; 
display: inline-block;
}
.asciititle {
    margin-top: 15em;
   }
.second {
width: 80%
}
}
.second {
text-align: center;
width: fit-content;
display: block;
}
p {
font-family: 'Jersey 10', sans-serif;
font-weight: 400;
font-size: larger;
font-style: normal;
color: white;
}
a:link {
color: rgb(176, 224, 230);
}
a:visited {
color: bisque;
}
